#contact{
    display: flex;
    justify-content: space-around;
    padding: 2rem 4rem;
}
.cot-img img{
    width: 15rem;
    height: 15rem;
}
.cot-img .contact-details{
    margin-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.contactform{
    width: 40%;
    /* margin-left: 4rem; */

}
.contactform form{
    background-color: #F5EFE7;
    border-radius: 5px;
    /* width: 30rem; */
    /* height: 20rem; */
    padding: 20px 10px 10px 2rem;
    line-height: 2rem;
    position: relative;
}
.contactform form::before{
    content: '';
    background: linear-gradient(0deg, #1E0342,#0E46A3, #1E0342);
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translate(-36px, -24px);
    padding: 4px;
    z-index: -1;
    border-radius: 5px;
    filter: blur(2px);
}
.inputs{
    position: relative;
    margin: 1.2rem 0;
}
.contactform form textarea{
    padding-top: 13px;
    height: 5rem;
    font-weight: 500;
    line-height: 1.4rem;
    z-index: 4;
}
.form-control{
    width: 80%;
    height: 3rem;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 550;
    padding: 3px 2px 1px 10px;
    border-radius: 5px;
    border: 2px solid #1E0342;
    outline: none;
    z-index: 2;
    overflow: hidden;
    transition: ease .5s;
}
.label-control{
    position: absolute;
    top: .2rem;
    left: 4.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    pointer-events: none;
    transition: ease .7s;
}
.form-control:focus,
.form-control:valid{
    border: 2px solid #0E46A3;
    box-shadow: 1px 1px 3px #0E46A3;
    background-color: transparent !important;
}
.form-control:focus ~ .label-control,
.form-control:valid ~ .label-control{
    transform: translate(-40px, -19px);
    z-index: 0;
    background-color: #F5EFE7;
    padding: 0 4px;
    font-size: 1rem;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active 
{
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

.form-btn{
    background-color: #0E46A3;
    color: aliceblue;
    width: 8rem;
    height: 2.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 1.5rem;
    border: none;
    outline: none;
    text-align: center;
    transition: .2s linear;
}
.form-btn:hover{
    scale: 1.1;
    border: 2px solid #1E0342;
    color: #1E0342;
    background-color: #9AC8CD;
    font-weight: 600;
    box-shadow: 1px 0 25px #1E0342;
}
.end{
    height: 4rem;
}
#great{
    margin: 5px 0 20rem 0;
    text-align: center; 
    color: #1E0342;   
}