#project{
    padding: 2rem 4rem;

}
#project div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-card{
    width: 30em;
    height: 23em;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 15px rgb(40, 40, 40);
    /* position: relative; */
}

.image-card-hover{
position: absolute;
width: inherit;
height: 15rem;
border-radius: 10px;
border-top-left-radius: 3rem;
border-top-right-radius: 3.1rem;
background: #000000ad;
margin-top: 8rem;
transition: all ease 1.5s;
opacity: 0;
}
.image-card:hover .image-card-hover{
    opacity: 1;

}

.image-card img{
    width: inherit;
    height: inherit;
    border-radius: 10px;
}

.image-card-hover h3{
    color: #79D7BE;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: underline;
    padding-bottom: -5px;
}
.image-card-hover p{
    color: aliceblue;
    margin: 0 10px;

}
.image-card-hover a{
    color: #9AC8CD;
    margin: 0 10px;
    margin: 0;
    text-decoration: none;
}
.image-card-hover a:hover,
.image-card-hover a:active{
    color: #0E46A3;
    font-size: 1rem;
}