@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #F5EFE7;
}
nav{
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: #1E0342;
    border-bottom: 2px solid rgba(60, 60, 60, 0.922);
    z-index: 3;
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 4rem;
    text-shadow: 2px 0px 2px #f7bcbc;
}
.logo span{
    color: #79D7BE;
    text-shadow: 2px 2px 4px #79D7BE;
}
.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff;
    display: none;
    font-size: clamp(2.5rem,0.5rem+5vW, 3rem);
}
.links{
    display: flex;
    margin-right: 3.5rem;
}
.links a{
    position: relative;
    font-size: 1.2rem;
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.2s linear;
}
.links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #79D7BE;
    transition: .2s linear;
}
.links a:hover::before{
    width: 100%;
}
.links a:hover{
    color: #79D7BE;
}
.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-300px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(50%);
    box-shadow: 0 0 20 rgb(103, 47, 7);
    transition: .3s linear;
}

.dropdown a{
    display: flex;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: .5s linear;
}

.dropdown a:hover{
    color: #1E0342;
    background-color: #79D7BE;
    font-weight: 700;
    font-size: 1.3rem;
}

section{
    width: 100%;
    height: 90vh;
}

/* Main  */
.main{
    width: 100%;
    padding: 7rem 0 4rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.image{
    width: 470px;
    height: 450px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #D8C4B6;
}
.image img{
    width: inherit;
    height: inherit;
}
.image:hover{
    animation: animate 1.5s ease-in-out infinite;
}
/* @keyframes animate {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
} */
.content{
    color: #000;
    width: 50%;
    min-height: 100px;
}
h1 span{
    font-size: clamp(1rem,1rem+5vw,1rem);
    color: #1E0342;
}
.typewriter{
    font-size: clamp(2rem,2.5rem+5vW, 3rem);
    font-weight: 600;

}
#typewriter-text{
    color: #0E46A3;
    text-shadow: 0 0 10px #101010;
}
.content p{
    font-size: clamp(2rem, 3rem+9vh,3rem);
    font-weight: 450;
    margin: 10px 0;
}

.social-links i{
    display: inline-flex;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color:#0E46A3;
    border: 3px solid #1E0342; 
    border-radius: 20px ;
    margin: 2px 5px;
    font-size: 1.5rem;
    transition: .2s linear;
}
.social-links a i:hover{
    scale: 1.2;
    color: #000;
    background-color: #79D7BE;
    filter: drop-shadow(0 0 20px #1E0342);
}

.btn{
    background-color: #0E46A3;
    color: aliceblue;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 20px 10px ;
    text-align: center;
    transition: .4s linear;
}
.btn:hover{
    scale: 1.15;
    border: 2px solid #1E0342;
    font-weight: 600;
    color: #1E0342;
    background-color: #9AC8CD;
    box-shadow: 0 0 22px #1e0342bd;
}

.resume{
    background-color: #79D7BE;
    color: #1E0342;
    width: 6rem;
    height: 2.2rem;
    text-align: center;
    padding: 4px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 8px;
    margin: 18px 0 20px 20px;
    border: none;
    outline: none;
    transition: .4s linear;
}
.resume:hover{
    scale: 1.1;
    border: 2px solid #1E0342;
    color: #0E46A3;
    background-color: #9AC8CD;
    box-shadow: 0 0 20px #1e0342be;
    font-size: 1rem;
}
.headings{
    color:#1E0342;
    padding: 2px;
    text-align: center;
    margin-bottom: 0 2rem;
}