@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    background-color: rgb(86, 39, 6);
}
nav{
    width: 100%;
    height: 10vh;
    position: sticky;
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 4rem;
}
.logo span{
    color: #077b32;
    text-shadow: 0 0 10px #077b32;
}
.hamburg,
.cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff;
    display: none;
    font-size: clamp(2.5rem,0.5rem+5vW, 3rem);
}
.links{
    display: flex;
    margin-right: 3.5rem;
}
.links a{
    position: relative;
    font-size: 1.2rem;
    color: #fff;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.2s linear;
}
.links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #077b32;
    transition: .2s linear;
}
.links a:hover::before{
    width: 100%;
}
.links a:hover{
    color: #077b32;
}
.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-300px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(50%);
    box-shadow: 0 0 20 rgb(103, 47, 7);
    transition: .3s linear;
}

.dropdown a{
    display: flex;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: .2s linear;
}

.dropdown a:hover{
    color: #077b32;
    background-color: #494205d1;
}

section{
    width: 100%;
    height: 90vh;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.image{
    width: 470px;
    height: 70vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #077b32;
}
.image img{
    width: 100%;
    height: 100%;
}
.image:hover{
    animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}
.content{
    color: #000;
    width: 50%;
    min-height: 100px;
}
h1 span{
    font-size: clamp(1rem,1rem+5vw,1rem);
    color: #077b32;
}
.typewriter{
    font-size: clamp(2rem,2.5rem+5vW, 3rem);
    font-weight: 600;

}
#typewriter-text{
    color: #077b32;
    text-shadow: 0 0 10px #077b32;
}
.content p{
    font-size: clamp(2rem, 3rem+9vh,3rem);
    margin: 10px 0;
}

.social-links i{
    display: inline-flex;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color:rgb(248, 171, 76);
    border: 3px solid #494205; 
    border-radius: 20px ;
    margin: 2px 5px;
    font-size: 1.5rem;
    transition: .2s linear;
}
.social-links a i:hover{
    scale: 1.2;
    color: #000;
    background-color: #f10509e1;
    filter: drop-shadow(0 0 30px rgba(255, 0, 0, 0.908));
}
.btn button{
    background-color: #f10509;
    color: #fff;
    width: 8rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 20px 30px;
    text-align: center;
    transition: .2s linear;
}
.btn button:hover{
    scale: 1.2;
    border: 2px solid #077b32;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 25px #077b32;
}
